body {
    background: #f0ecff;
}


.main-cont {
    height: 1000px;
}

#add-btn {
    position: fixed;
    bottom: 5%;
    right: 7%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    color: #eee;
    text-align: center;
}

.card-body {
    cursor: pointer;
}

h6 {
    color: rgb(193, 193, 193);
    ;
}

.image {
    height: 40px;
    width: 40px;
}

.number-info {
    color: rgb(172, 172, 172);
    font-weight: 100;
}

.number-info span {
    font-size: 50px;
    color: black;
}

.user-main-info {
    font-weight: 500;
    font-size: 20px;
}